<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script src="https://unpkg.com/alpinejs" defer></script>
  <title>Kuromi Section</title>

  <!-- Tailwind CSS -->
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">

  <style>
    body {
      font-family: 'Quicksand', sans-serif;
    }
  </style>
</head>
<body class="bg-pink-50">
  <!-- Top bar -->
  <div class="flex justify-between items-center bg-pink-300 px-6 py-2 text-sm">
    <div class="flex space-x-6 items-center ml-auto">
      <!-- Button User -->
      <div x-data="{ open: false, locked: false }"
        class="relative inline-block text-left z-50"
        @mouseenter="open = true"
        @mouseleave="if (!locked) open = false">

        <!-- User -->
        <button @click="open = !open"
            class="p-2 bg-gray-100 rounded-full shadow hover:bg-gray-200">
            <img src="../../image/user.png" alt="User" class="w-6 h-6">
        </button>

        <!-- Dropdown -->
        <div x-show="open"
            x-transition
            class="absolute right-0 mt-2 w-48 bg-white border border-gray-200 rounded-lg shadow-lg py-2 z-50">

            <a href="/view/login.html"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
                My Account
            </a>

            <a href="/view/CreateAccount.html"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
                CreateAccount
            </a>

            <a href="logout.html"
              class="block px-4 py-2 text-sm text-red-600 hover:bg-red-100">
                Log Out
            </a>
        </div>
    </div>
      
      <!-- Button cart -->
      <div x-data="{ open: false, locked: false }"
          class="relative inline-block text-left z-50"
          @mouseenter="open = true"
          @mouseleave="if (!locked) open = false">

        <!-- ปุ่ม Cart -->
        <button @click="open = !open" class="p-2 bg-gray-100 rounded-full shadow hover:bg-gray-200">
           <img src="../../image/market.png" alt="Cart" class="w-6 h-6">
        </button>

        <!-- Drop Down -->
        <div x-show="open"
            x-transition
            @click.outside="if (!locked) open = false"
            class="absolute right-0 mt-2 w-72 bg-white border border-gray-200 rounded-lg shadow-lg p-4">

          <h4 class="text-lg font-semibold mb-3">My Cart</h4>

          <!-- Item -->
          <div class="flex items-center mb-3">
            <img src="../../picture/bagKuromi.png" alt="Kuromi 2-Way Easy Tote" class="w-14 h-14 rounded mr-3">
            <div class="flex-1">
              <a href="#" class="font-medium text-gray-800 hover:text-blue-600">Kuromi 2-Way Easy Tote</a>
              <span class="block text-sm text-gray-600">3 x 28$</span>
            </div>
            <button class="text-gray-400 hover:text-red-500"></button>
          </div>

          <div class="flex items-center mb-3">
            <img src="../../picture/bagKuromi2.png" alt="My Melody & Kuromi x LeSportsac Large Emerald Tote Bag" class="w-14 h-14 rounded mr-3">
            <div class="flex-1">
              <a href="#" class="font-medium text-gray-800 hover:text-blue-600">My Melody & Kuromi x LeSportsac Large Emerald Tote Bag</a>
              <span class="block text-sm text-gray-600">1 x 18$</span>
            </div>
            <button class="text-gray-400 hover:text-red-500"></button>
          </div>

          <hr class="my-3 border-gray-200">

          <!-- Total -->
          <div class="flex justify-between text-sm mb-1">
            <span>Subtotal</span>
            <span>320$</span>
          </div>
          <div class="flex justify-between text-sm mb-1">
            <span>Taxes</span>
            <span>8%</span>
          </div>
          <div class="flex justify-between font-semibold text-gray-800 mb-3">
            <span>Total</span>
            <span>385$</span>
          </div>

          <div class="flex justify-end">
            <a href="/view/Cart.html" class="flex items-center space-x-1 hover:underline text-white bg-blue-500 rounded-lg px-4 py-2">
              <span>Checkout</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Logo -->
  <div class="flex items-center justify-center">
    <a href="index.html">
      <img src="../../picture/Sanrio_LOGO.webp" 
           class="flex-shrink-0 w-36 h-auto mt-2  cursor-pointer hover:scale-105 transition-transform duration-300 ">
    </a>
  </div>

  <!-- Main header -->
  <div class="flex items-center justify-between px-6 py-4 border-b">
    <!-- <img src="picture/headder1.jpg" class="w-auto h-12"> -->
    <!-- Menu -->
    <nav class="flex space-x-6 font-bold text-sm">
      <a href="#" class="hover:text-pink-500">NEW</a>
      <a href="#" class="hover:text-pink-500">COLLABS</a>
      <a href="#" class="hover:text-pink-500">CHARACTERS</a>
      <a href="#" class="hover:text-pink-500">APPAREL</a>
      <a href="#" class="hover:text-pink-500">BAGS+</a>
      <a href="#" class="hover:text-pink-500">BAGS+</a>
    </nav>

    <!-- Search + icons -->
    <div class="flex items-center space-x-3">
      <input type="text" placeholder="What are you looking for?" 
             class="border rounded-md px-3 py-1 w-60 focus:ring focus:ring-blue-200 text-sm">
      <button class="text-gray-600"></button>
    </div>
  </div>

  <!-- Bottom info bar -->
  <div class="bg-pink-500 text-white text-center py-1 text-sm">
    Hello, 4 Million Friends! Watch Hello Kitty and Friends Supercute Adventures Season 11 - Now Streaming!
  </div>
  <!-- End Top Bar -->

  <!-- My melody Section -->
  <section class="bg-[#fa7fb4] px-8 py-12 flex flex-col md:flex-row items-center justify-between text-black">
    <!-- Text -->
    <div class="md:w-1/2">
      <h1 class="text-4xl font-bold mb-4">MY MELODY</h1>
      <p class="text-lg">
        My Melody was born in the forest of Mariland. Her favorite hobby is baking cookies with her mother, 
        and her favorite food is almond pound cake. She enjoys eating cake with her best friend, a mouse named Flat.
      </p>
      <div class="mt-6 space-x-4">
        <button class="bg-white text-[#e60012] border border-white px-4 py-2 rounded font-semibold"> My Melody Goodies</button>
      </div>
    </div>

    <!-- Image -->
    <div class="md:w-1/3 mt-10 md:mt-0 text-center">
      <img src="../../picture/MyMe.png" alt="My Melody" class="w-60 mx-auto rounded-lg" />
    </div>
  </section>

  <!-- Product Grid -->
  <main class="max-w-7xl mx-auto py-12 px-6">
    <h2 class="text-2xl font-bold text-pink-800 mb-6">SHOP MY MELODY</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
    <!-- bme1-->
      <div class="bg-white rounded-2xl shadow p-4 flex flex-col">
        <div class="w-full h-40 bg-white-200 rounded-lg mb-4 flex items-center justify-center">
          <img src="../../../picture/Myme/bme1.png" alt="LittleTwinStars Baby Bundle Bag Charm" class="h-full object-contain" />
        </div>
         <h3 class="text-xl font-semibold">
          <a href="/view/Product/Myme/bme1.html" class="text-black-800 hover:text-blue-500 hover:scale-105 transition duration-300 ease-in-out">
            My Melody Classic Quilted Mini Crossbody
          </a>
         </h3>
        <p class="text-lg font-bold mt-2 text-grey-700">$44.00</p>
        <button class="rounded-xl mt-auto bg-blue-100 px-6 py-2 mx-auto font-semibold 
                 text-blue-500 shadow-md hover:bg-blue-200 hover:shadow-lg 
                 transition hover:text-white">ADD TO BAG</button>
      </div>
    <!-- bm2 -->
      <div class="bg-white rounded-2xl shadow p-4 flex flex-col">
        <div class="w-full h-40 bg-white-200 rounded-lg mb-4 flex items-center justify-center">
          <img src="../../../picture/Myme/bme2.png" alt="LittleTwinStars Baby Bundle Bag Charm" class="h-full object-contain" />
        </div>
         <h3 class="text-xl font-semibold">
          <a href="/view/Product/Myme/bme2.html" class="text-black-800 hover:text-blue-500 hover:scale-105 transition duration-300 ease-in-out">
            My Melody 2-Way Easy Totey
          </a>
         </h3>
        <p class="text-lg font-bold mt-2 text-grey-700">$32.00</p>
        <button class="rounded-xl mt-auto bg-blue-100 px-6 py-2 mx-auto font-semibold 
                 text-blue-500 shadow-md hover:bg-blue-200 hover:shadow-lg 
                 transition hover:text-white">ADD TO BAG</button>
      </div>

    <!-- bme3 -->
      <div class="bg-white rounded-2xl shadow p-4 flex flex-col">
        <div class="w-full h-40 bg-white-200 rounded-lg mb-4 flex items-center justify-center">
          <img src="../../../picture/Myme/bme3.png" alt="LittleTwinStars Baby Bundle Bag Charm" class="h-full object-contain" />
        </div>
         <h3 class="text-xl font-semibold">
          <a href="/view/Product/Myme/bme3.html" class="text-black-800 hover:text-blue-500 hover:scale-105 transition duration-300 ease-in-out">
            My Melody 2-Way Easy Totey
          </a>
         </h3>
        <p class="text-lg font-bold mt-2 text-grey-700">$32.00</p>
        <button class="rounded-xl mt-auto bg-blue-100 px-6 py-2 mx-auto font-semibold 
                 text-blue-500 shadow-md hover:bg-blue-200 hover:shadow-lg 
                 transition hover:text-white">ADD TO BAG</button>
      </div>
    <!-- bme4-->
      <div class="bg-white rounded-2xl shadow p-4 flex flex-col">
        <div class="w-full h-40 bg-white-200 rounded-lg mb-4 flex items-center justify-center">
          <img src="../../../picture/Myme/bme4.png" alt="LittleTwinStars Baby Bundle Bag Charm" class="h-full object-contain" />
        </div>
         <h3 class="text-xl font-semibold">
          <a href="/view/Product/Myme/bme4.html" class="text-black-800 hover:text-blue-500 hover:scale-105 transition duration-300 ease-in-out">
            My Melody Classic Quilted Mini Crossbody
          </a>
         </h3>
        <p class="text-lg font-bold mt-2 text-grey-700">$44.00</p>
        <button class="rounded-xl mt-auto bg-blue-100 px-6 py-2 mx-auto font-semibold 
                 text-blue-500 shadow-md hover:bg-blue-200 hover:shadow-lg 
                 transition hover:text-white">ADD TO BAG</button>
      </div>
    
    <!-- kme1-->
      <div class="bg-white rounded-2xl shadow p-4 flex flex-col">
        <div class="w-full h-40 bg-white-200 rounded-lg mb-4 flex items-center justify-center">
          <img src="../../../picture/Myme/me1.png" alt="LittleTwinStars Baby Bundle Bag Charm" class="h-full object-contain" />
        </div>
         <h3 class="text-xl font-semibold">
          <a href="/view/Product/Myme/kme1.html" class="text-black-800 hover:text-blue-500 hover:scale-105 transition duration-300 ease-in-out">
            My Melody Mini Mascot Keychain (Sanrio Character Award Series)
          </a>
         </h3>
        <p class="text-lg font-bold mt-2 text-grey-700">$14.99</p>
        <button class="rounded-xl mt-auto bg-blue-100 px-6 py-2 mx-auto font-semibold 
                 text-blue-500 shadow-md hover:bg-blue-200 hover:shadow-lg 
                 transition hover:text-white">ADD TO BAG</button>
      </div>
    <!-- kme2 -->
      <div class="bg-white rounded-2xl shadow p-4 flex flex-col">
        <div class="w-full h-40 bg-white-200 rounded-lg mb-4 flex items-center justify-center">
          <img src="../../../picture/Myme/me2.png" alt="LittleTwinStars Baby Bundle Bag Charm" class="h-full object-contain" />
        </div>
         <h3 class="text-xl font-semibold">
          <a href="/view/Product/Myme/kme2.html" class="text-black-800 hover:text-blue-500 hover:scale-105 transition duration-300 ease-in-out">
            My Melody Plush Mascot Keychain (Sparkling School Series)
          </a>
         </h3>
        <p class="text-lg font-bold mt-2 text-grey-700">$28.00</p>
        <button class="rounded-xl mt-auto bg-blue-100 px-6 py-2 mx-auto font-semibold 
                 text-blue-500 shadow-md hover:bg-blue-200 hover:shadow-lg 
                 transition hover:text-white">ADD TO BAG</button>
      </div>

    <!-- kme3 -->
      <div class="bg-white rounded-2xl shadow p-4 flex flex-col">
        <div class="w-full h-40 bg-white-200 rounded-lg mb-4 flex items-center justify-center">
          <img src="../../../picture/Myme/me3.png" alt="LittleTwinStars Baby Bundle Bag Charm" class="h-full object-contain" />
        </div>
         <h3 class="text-xl font-semibold">
          <a href="/view/Product/Myme/kme3.html" class="text-black-800 hover:text-blue-500 hover:scale-105 transition duration-300 ease-in-out">
            My Melody Baby Bundle Bag Charm (Baby Series)
          </a>
         </h3>
        <p class="text-lg font-bold mt-2 text-grey-700">$28.00</p>
        <button class="rounded-xl mt-auto bg-blue-100 px-6 py-2 mx-auto font-semibold 
                 text-blue-500 shadow-md hover:bg-blue-200 hover:shadow-lg 
                 transition hover:text-white">ADD TO BAG</button>
      </div>
    <!-- kme4-->
      <div class="bg-white rounded-2xl shadow p-4 flex flex-col">
        <div class="w-full h-40 bg-white-200 rounded-lg mb-4 flex items-center justify-center">
          <img src="../../../picture/Myme/me4.png" alt="LittleTwinStars Baby Bundle Bag Charm" class="h-full object-contain" />
        </div>
         <h3 class="text-xl font-semibold">
          <a href="/view/Product/Myme/kme4.html" class="text-black-800 hover:text-blue-500 hover:scale-105 transition duration-300 ease-in-out">
            My Melody Mascot Clip (Strawberry Fields Series)
          </a>
         </h3>
        <p class="text-lg font-bold mt-2 text-grey-700">$18.99</p>
        <button class="rounded-xl mt-auto bg-blue-100 px-6 py-2 mx-auto font-semibold 
                 text-blue-500 shadow-md hover:bg-blue-200 hover:shadow-lg 
                 transition hover:text-white">ADD TO BAG</button>
      </div>

    <!-- dme1-->
      <div class="bg-white rounded-2xl shadow p-4 flex flex-col">
        <div class="w-full h-40 bg-white-200 rounded-lg mb-4 flex items-center justify-center">
          <img src="../../../picture/Myme/dme1.png" alt="LittleTwinStars Baby Bundle Bag Charm" class="h-full object-contain" />
        </div>
         <h3 class="text-xl font-semibold">
          <a href="/view/Product/Myme/dme1.html" class="text-black-800 hover:text-blue-500 hover:scale-105 transition duration-300 ease-in-out">
            My Melody 7" Plush (I Love Me Series)
          </a>
         </h3>
        <p class="text-lg font-bold mt-2 text-grey-700">$44.00</p>
        <button class="rounded-xl mt-auto bg-blue-100 px-6 py-2 mx-auto font-semibold 
                 text-blue-500 shadow-md hover:bg-blue-200 hover:shadow-lg 
                 transition hover:text-white">ADD TO BAG</button>
      </div>
    <!-- dme2 -->
      <div class="bg-white rounded-2xl shadow p-4 flex flex-col">
        <div class="w-full h-40 bg-white-200 rounded-lg mb-4 flex items-center justify-center">
          <img src="../../../picture/Myme/dme2.png" alt="LittleTwinStars Baby Bundle Bag Charm" class="h-full object-contain" />
        </div>
         <h3 class="text-xl font-semibold">
          <a href="/view/Product/Myme/dme2.html" class="text-black-800 hover:text-blue-500 hover:scale-105 transition duration-300 ease-in-out">
            My Melody Plush Mascot Keychain (Sparkling School Series)
          </a>
         </h3>
        <p class="text-lg font-bold mt-2 text-grey-700">$29.00</p>
        <button class="rounded-xl mt-auto bg-blue-100 px-6 py-2 mx-auto font-semibold 
                 text-blue-500 shadow-md hover:bg-blue-200 hover:shadow-lg 
                 transition hover:text-white">ADD TO BAG</button>
      </div>

    <!-- dme3 -->
      <div class="bg-white rounded-2xl shadow p-4 flex flex-col">
        <div class="w-full h-40 bg-white-200 rounded-lg mb-4 flex items-center justify-center">
          <img src="../../../picture/Myme/dme3.png" alt="LittleTwinStars Baby Bundle Bag Charm" class="h-full object-contain" />
        </div>
         <h3 class="text-xl font-semibold">
          <a href="/view/Product/Myme/dme3.html" class="text-black-800 hover:text-blue-500 hover:scale-105 transition duration-300 ease-in-out">
            My Melody Baby Bundle Bag Charm (Baby Series)
          </a>
         </h3>
        <p class="text-lg font-bold mt-2 text-grey-700">$36.00</p>
        <button class="rounded-xl mt-auto bg-blue-100 px-6 py-2 mx-auto font-semibold 
                 text-blue-500 shadow-md hover:bg-blue-200 hover:shadow-lg 
                 transition hover:text-white">ADD TO BAG</button>
      </div>
    <!-- dme4-->
      <div class="bg-white rounded-2xl shadow p-4 flex flex-col">
        <div class="w-full h-40 bg-white-200 rounded-lg mb-4 flex items-center justify-center">
          <img src="../../../picture/Myme/dme4.png" alt="LittleTwinStars Baby Bundle Bag Charm" class="h-full object-contain" />
        </div>
         <h3 class="text-xl font-semibold">
          <a href="/view/Product/Myme/dme4.html" class="text-black-800 hover:text-blue-500 hover:scale-105 transition duration-300 ease-in-out">
            Chiikawa x Sanrio Characters My Melody 7" Plush (Furuhonya)
          </a>
         </h3>
        <p class="text-lg font-bold mt-2 text-grey-700">$28.00</p>
        <button class="rounded-xl mt-auto bg-blue-100 px-6 py-2 mx-auto font-semibold 
                 text-blue-500 shadow-md hover:bg-blue-200 hover:shadow-lg 
                 transition hover:text-white">ADD TO BAG</button>
      </div>
    </div>
  </main>
 <!-- Footer -->
<footer class="bg-gray-800 text-gray-200 py-8 mt-10 relative z-10">
  <div class="max-w-6xl mx-auto px-6 md:px-0 flex flex-col items-center space-y-4">

    <!-- Logo -->
    <div class="flex items-center space-x-2">
      <img src="../../picture/Sanrio_LOGO.webp" alt="Logo" class="w-30 h-10">
      <span class="font-bold text-lg">Hello Kitty & Friends</span>
    </div>

    <!-- Navigation -->
    <div class="flex justify-center space-x-6 text-sm">
      <a href="#" class="hover:text-pink-400 transition-colors">Home</a>
      <a href="#" class="hover:text-pink-400 transition-colors">About</a>
      <a href="#" class="hover:text-pink-400 transition-colors">Contact</a>
      <a href="#" class="hover:text-pink-400 transition-colors">Privacy</a>
    </div>

    <!-- Social Icons -->
    <div class="flex justify-center space-x-4">
      <button @click="open = !open"
        class="p-2 bg-gray-100 rounded-full shadow hover:bg-gray-200">
        <img src="../../image/icon/facebook.png" alt="User" class="w-6 h-6">
      </button>
      <button @click="open = !open"
        class="p-2 bg-gray-100 rounded-full shadow hover:bg-gray-200">
        <img src="../../image/icon/instagram.png" alt="User" class="w-6 h-6">
      </button>
      <button @click="open = !open"
        class="p-2 bg-gray-100 rounded-full shadow hover:bg-gray-200">
        <img src="../../image/icon/twitter.png" alt="User" class="w-6 h-6">
      </button>
    </div>

  </div>
  
  <div class="mt-6 text-center text-xs text-gray-400">
    &copy; 2025 Hello Kitty & Friends. All rights reserved.
  </div>
</footer>

</body>
</html>
